<div>
  {{!-- prettier-ignore --}}
  <div>

    this will be ignored

  </div>

  {{!-- prettier-ignore: we can add notes here --}}
  <div>

    this will also be ignored

  </div>

  <div>

    this won't be ignored

  </div>
</div>
