<div>
  {{!-- prettier-ignore --}}
  <div>

    this will be ignored

  </div>

  <div>

    this will not be ignored

  </div>
</div>

<div>
  {{#if this.foo}}
    {{! prettier-ignore: we can ignore within a block }}
    <div>

      This will be ignored

    </div>
  {{/if}}
</div>

<div>
  {{! prettier-ignore: we can ignore blocks }}
  {{#if this.foo}}
    <div>

      This will be ignored

    </div>
  {{/if}}
</div>