<p>aaa</p>

<p>aaaa bbbb cccc dddd eeee ffff gggg hhhh iiii jjjj kkkk llll mmmm nnnn oooo pppp qqqq rrrr ssss tttt</p>

<div>111<p>222</p></div>

<br /><br />

<p class="foo">bar</p>

<hr class="alex" />